@use "sass:math";

//Подключение шрифтов

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap");

//Автоматическое вычисление единиц измерения

@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}

@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}

//Минимальное обнуление

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

a {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

html, body {
	height: 100%;
	line-height: 1;
}

//Оболочка
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	//Прижатие footer
	> main {
		flex: 1 1 auto;
	}
	//Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

//Шрифт по умолчанию
body {
	font-family: "Roboto";
	color: #000000;
}

//Минимальная ширина страницы
$minWidth: 320;

//Ширина полотна (макета)
$maxWidth: 1440;

//Ширина ограничивающего контейнера 
$maxWidthContainer: 1392;

//Общий отступ у контейнера
$containerPadding: 30;

//Тип адаптива (1 = отзывчивость)
$responsiveType: 1;

//Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

//Брейк-поинты
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

//Ограничивающий контейнер
@if ($responsiveType==1) {
	//Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	//По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidhtContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidhtContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

//Header
.header {
	margin: rem(24) 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	&__container {
		display: flex;
		align-items: center;
	}
	&__box {
		flex: 1 1 auto;
		background: #FAFAFA;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		display: flex;
		align-items: center;
		padding: rem(10) rem(30) rem(14) rem(40);
		margin: 0 rem(12) 0 0;
	}
	&__logo {
		z-index: 11;
	}
	&__actions {
		background: #FAFAFA;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		display: flex;
		position: relative;
		align-items: center;
		margin: 0 0 0 rem(12);
	}
	&__button {
		padding: rem(27) rem(28) rem(28) rem(26);
	}
}

.menu {
	flex: 1 1 auto;
	padding: 0 rem(10);
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		column-gap: rem(40);
		row-gap: rem(10);
	}
	&__link {
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(22, 16);
		color: #000000;
		&:hover {
			color: #9BB8D3;
			transition: all 0.3s ease 0s;
		}
	}
}

.icon__menu {
	display: none;
}

//Burger

@media (max-width: $mobile) {
	.icon__menu {
		z-index: 5;
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
	}
	.icon__menu span,
	.icon__menu::before,
	.icon__menu::after {
	left: 0;
	position: absolute;
	height: 12%;
	width: 100%;
	transition: all 0.3s ease 0s;
	background-color: #000000;
	}
	.icon__menu::before,
	.icon__menu::after {
		content: "";
	}
	.icon__menu::before {
		top: 0;
	}
	.icon__menu::after {
		bottom: 0;
	}
	.icon__menu span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #C6DAE7;
		padding: rem(200) rem(30) rem(30) rem(30);
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: rem(120);
		background-color: rgba(255, 255, 255, 0.578);
	}
	.menu__list > li {
		margin: 0 0 rem(30);
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__link {
		font-size: rem(30);
	}
	.menu__list {
		flex-direction: column;
	}
	.icon__menu._active span {
		transform: scale(0) translate(0, -50%);
	}
	.icon__menu._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}
	.icon__menu._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0, 50%);
	}
	.header__actions {
		margin: 0 rem(20) 0 0;
	}
	.menu__division {
		display: none;
	}
	.header__button {
		padding: rem(17) rem(18) rem(18) rem(16);
	}
	.header__box {
		background: none;
		box-shadow: none;
	}
}

//Main page
.main-page {
	background: url("../img/main-page.jpg") center no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	padding: rem(240) 0 rem(269) 0;
	@media (max-width: $mobile) {
		padding: rem(160) 0 rem(169) 0;
	}
	@media (max-width: $tablet) {
		background-position: right;
	}
	&__content {
		margin: 0 0 0 rem(72);
		@media (max-width: $mobile) {
			margin: 0;
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(71);
		line-height: math.div(72, 71);
		max-width: rem(500);
		margin: 0 0 rem(32) 0;
		@media (max-width: $mobile) {
			font-size: rem(40);
		}
	}
	&__text {
		font-weight: 400;
		font-size: rem(23);
		line-height: math.div(28, 32);
		max-width: rem(688);
		margin: 0 0 rem(37) 0;
		@media (max-width: $mobile) {
			overflow: hidden;
		}
	}
	&__button {
		font-weight: 400;
		font-size: rem(15);
		line-height: math.div(16, 15);
		text-transform: uppercase;
		color: #FAFAFA;
		background: #FF451C;
		border-radius: 8px;
		padding: rem(4.5) rem(61);
		white-space: nowrap;
		&:hover {
			background: #ff461c90;
			transition: all 0.3s ease 0s;
		}
	}
}

//Product
.product {
	display: flex;
	@media (max-width: $mobile) {
		flex-direction: column;
	}
	&__block-image {
		background: url("../img/product-block-image.jpg") center no-repeat;
		background-size: cover;
		width: 50%;
		@media (max-width: $mobile) {
			width: 100%;
			height: 70vh;
		}
	}
	&__content {
		width: 50%;
		@media (max-width: $mobile) {
			flex-direction: column;
			width: 100%;
		}
	}
	&__block-text {
		padding: rem(48) rem(57) rem(150) rem(48);
		background: #FAFAFA;
		@media (max-width: $mobile) {
			padding: rem(48) rem(20) rem(50) rem(20);
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(37);
		line-height: math.div(48, 37);
		margin: 0 0 rem(23) 0;
	}
	&__text {
		font-weight: 400;
		font-size: rem(17);
		line-height: math.div(22, 17);
		max-width: rem(617);
		margin: 0 0 rem(47) 0;
	}
	&__button {
		font-weight: 400;
		font-size: rem(15);
		line-height: math.div(16, 15);
		text-transform: uppercase;
		color: #FAFAFA;
		background: #FF451C;
		border-radius: 8px;
		padding: rem(3.5) rem(66);
		white-space: nowrap;
		&:hover {
			background: #ff461c90;
			transition: all 0.3s ease 0s;
		}
	}
	&__block-text-image {
		background: url("../img/product-block-text-image.jpg") center no-repeat;
		height: rem(398);
		background-size: cover;
		@media (max-width: $tablet) {
			background-position: right;
		}
	}
}

//Questions
.questions {
	padding: rem(48) 0 rem(47) 0;
	background-color: #C6DAE7;
	&__container {
		display: flex;
		flex: 1 1 auto;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	&__block-text {
		flex: 0 1 50%;
		margin: 0 0 0 rem(24);
		@media (max-width: $tablet) {
			margin: 0 0 rem(34) rem(20);
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(36);
		line-height: math.div(48, 36);
		margin: 0 0 rem(23) 0;
		@media (max-width: $mobile) {
			line-height: math.div(38, 36);
		}
	}
	&__text {
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(22, 16);
		margin: 0 0 rem(46) 0;
	}
	&__button {
		font-weight: 400;
		font-size: rem(15);
		line-height: math.div(16, 15);
		text-transform: uppercase;
		color: #FAFAFA;
		background: #FF451C;
		border-radius: 8px;
		padding: rem(3.5) rem(60);
		white-space: nowrap;
		&:hover {
			background: #ff461c90;
			transition: all 0.3s ease 0s;
		}
	}
	&__block-questions {
		flex: 0 1 50%;
		margin: 0 0 0 rem(24);
		@media (max-width: $mobile) {
			margin: 0 rem(10) 0 0;
		}
		@media (max-width: $tablet) {
			margin: 0 rem(10) 0 rem(24);
		}
	}
	&__division {
		@media (max-width: $mobile) {
			display: none;
		}
	}
}

.accordion {
	margin: 0 0 rem(15) 0;
	&__control {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		background: transparent;
		cursor: pointer;
		margin: 0 0 rem(10) 0;
		::webkit-details-marker {
			display: none;
		}
	}
	&__title {
		font-weight: 400;
		font-size: rem(21);
		line-height: math.div(28, 21);
	}
	&__icon {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		transition: transform 0.3s ease-out;
		z-index: 3;
	}
	&__content {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0 10px 0 10px;
		will-change: max-height;
		transition: all 0.3s ease-out;
		box-sizing: content-box;
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(22, 16);
	}
}

.open .accordion__icon {
	transform: rotate(45deg);
}

.accordion__icon::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	height: 1px;
	background-color: black;
	transform: translate(-50%, -50%);
}

.accordion__icon::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1px;
	height: 50%;
	background-color: black;
	transform: translate(-50%, -50%);
}

.open .accordion__content {
	opacity: 1;
	padding: 10px;
}

//Review
.review {
	padding: rem(133) 0 rem(83) 0;
	background-color: #FAFAFA;
	display: flex;
	@media (max-width: $tablet) {
		padding: rem(60) 0 rem(63) 0;
	}
	&__container {
		align-items: center;
		text-align: center;
	}
	&__client {
		font-weight: 400;
		font-size: rem(15);
		line-height: math.div(16, 15);
		text-transform: uppercase;
		margin: 0 0 rem(18) 0;
	}
	&__review {
		font-weight: 400;
		font-size: rem(40);
		line-height: math.div(48, 40);
		max-width: rem(1021);
		text-align: center;
		margin: 0 0 rem(14) 0;
		@media (max-width: $tablet) {
			font-size: rem(25);
		}
	}
	&__image-item {
		display: flex;
		gap: rem(8);
		margin: 0 0 rem(6) 0;
		justify-content: center;
	}
}

//Sign up
.sign-up {
	display: flex;
	@media (max-width: $mobile) {
		flex-direction: column;
	}
	&__content {
		width: 50%;
		background-color: #C6DAE7;
		padding: rem(48) rem(49) rem(138) rem(49);
		@media (max-width: $mobile) {
			width: 100%;
			padding: rem(48) rem(20) rem(48) rem(20);
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(37);
		line-height: math.div(48, 37);
		margin: 0 0 rem(23) 0;
		@media (max-width: $mobile) {
			line-height: math.div(38, 37);
		}
	}
	&__text {
		font-weight: 400;
		font-size: rem(17);
		line-height: math.div(22, 17);
		max-width: rem(593);
		margin: 0 0 rem(24) 0;
	}
	&__item {
		position: relative;
		align-items: center;
		display: flex;
		z-index: 2;
	}
	&__input {
		width: 100%;
		height: rem(54);
		background: #FAFAFA;
		border: 1px solid #000000;
		border-radius: 8px;
		z-index: 2;
		padding: rem(15) rem(22) rem(17) rem(16);
		@media (max-width: $mobile) {
			height: rem(34);
		}
	}
	&__submit {
		position: absolute;
		right: 0;
		margin-right: rem(22);
		background: transparent;
		cursor: pointer;
		z-index: 3;
	}
	&__subtext {
		font-weight: 400;
		font-size: rem(10);
		line-height: math.div(12, 10);
		margin: rem(8) 0 0 0;
	}
	&__block-image {
		width: 50%;
		background: url("../img/sign-up.jpg") center no-repeat;
		background-size: cover;
		@media (max-width: $mobile) {
			width: 100%;
			height: 50vh;
		}
	}
}

//Our story
.our-story {
	display: flex;
	@media (max-width: $mobile) {
		flex-direction: column;
	}
	&__block-image {
		width: 50%;
		background: url("../img/our-story.jpg") center no-repeat;
		background-size: cover;
		@media (max-width: $mobile) {
			width: 100%;
			height: 50vh;
		}
	}
	&__content {
		width: 50%;
		background-color: #E8DCCD;
		padding: rem(48) rem(50) rem(224) rem(48);
		@media (max-width: $mobile) {
			width: 100%;
			padding: rem(48) rem(20) rem(80) rem(20);
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(38);
		line-height: math.div(48, 38);
		margin: 0 0 rem(23) 0;
	}
	&__subtitle-top {
		font-weight: 700;
		font-size: rem(22);
		line-height: math.div(28, 22);
		margin: 0 0 rem(15) 0;
	}
	&__text {
		font-weight: 400;
		font-size: rem(18);
		line-height: math.div(22, 18);
		max-width: rem(622);
		margin: 0 0 rem(13) 0;
	}
	&__subtitle-bottom {
		font-weight: 700;
		font-size: rem(21);
		line-height: math.div(28, 21);
		margin: 0 0 rem(15) 0;
	}
	&__text-bottom {
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(22, 16);
		max-width: rem(608);
		margin: 0 0 rem(47) 0;
	}
	&__button {
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(16, 16);
		color: #FAFAFA;
		text-transform: uppercase;
		background: #FF451C;
		border-radius: 8px;
		padding: rem(4.5) rem(58.5);
		white-space: nowrap;
		&:hover {
			background: #ff461c90;
			transition: all 0.3s ease 0s;
		}
	}
}

//Images
.images {
	display: flex;
	height: rem(360);
	@media (max-width: $tablet) {
		overflow: auto;
	}
	&__1 {
		width: 25%;
		background: url("../img/image-1.jpg");
		background-size: cover;
		padding: rem(317) rem(317) rem(25) rem(25);
	}
	&__2 {
		width: 25%;
		background: url("../img/image-2.jpg");
		background-size: cover;
		padding: rem(317) rem(317) rem(25) rem(25);
	}
	&__3 {
		width: 25%;
		background: url("../img/image-3.jpg");
		background-size: cover;
		padding: rem(317) rem(317) rem(25) rem(25);
	}
	&__4 {
		width: 25%;
		background: url("../img/image-4.jpg");
		background-size: cover;
		padding: rem(317) rem(317) rem(25) rem(25);
	}
}

//Footer
.footer {
	padding: rem(69) rem(25) rem(57) rem(24);
	background-color: #9BB8D3;
	@media (max-width: $mobile) {
		padding: rem(20) 0 rem(20) 0;
	}
	&__container {
		display: flex;
		align-items: flex-start;
		@media (max-width: $tablet) {
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
	&__block-text {
		display: flex;
		margin: 0 rem(70) 0 0;
		@media (max-width: $tablet) {
			margin: 0 0 rem(20) 0;
		}
	}
	&__text {
		font-weight: 400;
		font-size: rem(14);
		line-height: math.div(16, 14);
		color: rgba(0, 0, 0, 0.5);
		text-transform: uppercase;
		max-width: rem(186);
		margin: 0 0 0 rem(46);
		@media (max-width: $mobile) {
			font-size: rem(12);
		}
	}
	&__menu {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
		gap: rem(10);
		@media (max-width: $tablet) {
		width: 100%;
		}
	}
	&__column {
		flex-direction: column;
		display: flex;
	}
	&__title {
		font-weight: 400;
		font-size: rem(15);
		line-height: math.div(16, 15);
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.5);
		margin: 0 0 rem(18) 0;
		@media (max-width: $mobile) {
			font-size: rem(10);
			margin: 0 0 rem(8) 0;
		}
	}
	&__link {
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(22, 16);
		color: #000000;
		margin: 0 0 rem(15) 0;
		white-space: nowrap;
		&:hover {
			color: #FAFAFA;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: $mobile) {
			font-size: rem(8);
			margin: 0 0 rem(3) 0;
		}
	}
	&__item {
		position: relative;
		align-items: center;
		display: flex;
		z-index: 2;
	}
	&__input {
		width: 100%;
		height: rem(54);
		background: #FAFAFA;
		border: 1px solid #000000;
		border-radius: 8px;
		z-index: 2;
		padding: rem(15) rem(22) rem(17) rem(16);
		@media (max-width: $tablet) {
			width: rem(200);
			height: rem(34);
		}
	}
	&__submit {
		position: absolute;
		right: 0;
		margin-right: rem(22);
		background: transparent;
		cursor: pointer;
		z-index: 3;
	}
	&__subtext {
		font-weight: 400;
		font-size: rem(10);
		line-height: math.div(12, 10);
		margin: rem(8) 0 0 0;
	}
}
@media (max-width: $mobile) {
	.footer__column:last-child {
		display: none;
	}
	
}
